In [2]:
tp= (2,3,4)
for i in tp:
    print(i)

2
3
4

In [1]:
# fazer uma sequencia de comandos que mostre a tabuada do 5:
print("Tabuada do 5:")

for i in range(1, 11):
    resultado = 5 * i
    print(f"5 x {i} = {resultado}")

Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [3]:
frase = input("Digite uma frase: ")
qtd = 0

for letra in frase:
    if letra.upper() == "A":
        qtd += 1

print("O total de 'A's na frase é:", qtd)

Digite uma frase:  São Paulo

O total de 'A's na frase é: 1

In [72]:
ListaDeStrings = [ "Curso" , "Superior" , "de Tecnologia" , "em Ciência" , " de Dados" ]
for palavra in ListaDeStrings:
    qtd = 0
    for caracter in palavra:
        qtd += 1
        print(palavra, "-", qtd)

Curso - 1
Curso - 2
Curso - 3
Curso - 4
Curso - 5
Superior - 1
Superior - 2
Superior - 3
Superior - 4
Superior - 5
Superior - 6
Superior - 7
Superior - 8
de Tecnologia - 1
de Tecnologia - 2
de Tecnologia - 3
de Tecnologia - 4
de Tecnologia - 5
de Tecnologia - 6
de Tecnologia - 7
de Tecnologia - 8
de Tecnologia - 9
de Tecnologia - 10
de Tecnologia - 11
de Tecnologia - 12
de Tecnologia - 13
em Ciência - 1
em Ciência - 2
em Ciência - 3
em Ciência - 4
em Ciência - 5
em Ciência - 6
em Ciência - 7
em Ciência - 8
em Ciência - 9
em Ciência - 10
 de Dados - 1
 de Dados - 2
 de Dados - 3
 de Dados - 4
 de Dados - 5
 de Dados - 6
 de Dados - 7
 de Dados - 8
 de Dados - 9